
*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0px;
    color: white;
}
body
{
    background-color: black;
}
#mainimg
{
    height: 50vw;
    width: 100vw;
    top: -60px;
    position: absolute;
    z-index: -1;
}
h1
{
    color: #00FF00;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profilecont
{
    color: white;
    width: 100vw;
    font-family: cursive;
}

/* NAV BAR*/
.navcont
{
    font-size: 2vw;
    /* margin: 1vw; */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width:800px)
{
    body
    {
        text-align: center;
        margin: 10px;
    }
    #mainimg
    {
        top: 15vw;
        left: 2vw;
        width: 100vw;
        height: 60vw;
    }
    .navcont
    {
        font-size: 4.5vw;
        color: white;   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media only screen and (max-width:650px)
{
    #mainimg
    {
        top: 21vw;
    }
}
/***/
.icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw;
}
@media only screen and (max-width:800px)
{
    .icon
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    }
}
.icon div
{
    margin: 0px 1vw 0px 1vw;
    display: flex;
    font-size: 50px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    color:  #00FF00;
}
.icon img
{
    border-radius: 100%;
    height: 5vw;
}
@media only screen and (max-width:800px)
{
    .icon img
    {
        border-radius: 100%;
        height: 10vw;
    }
}
/***/
.nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav div
{
    font-size: 4.5vw;
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0px 30px 0px 5px;
    transition: transform 1s ease;
    transform: scale(1);
}
.nav div a{
    font-size: 30px;
    color: #00FF00;
    text-decoration-line: none;
}
.nav div:hover
{
    transition: transform 0.5s ease;
    transform: scale(1.07);
}
.nav div a:hover
{
    color:  #ffffff;
    text-decoration-line: none;
}
@media only screen and (max-width:650px)
{
    .nav div a{
        margin-right: 5px;
        font-size: 20px;
    }
}

/*PROFILE*/

.profile
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile div
{
    font-size: 4vw;
    margin: 3vw 2vw 5vw 1vw;
}
@media only screen and (max-width:800px)
{
    .profile div
    {
        font-size: 5vw;
        margin: 3vw 2vw 5vw 1vw;
    }
}

.banner p
{
    text-align: start;
    margin-left: 25px;
    font-size: 25px;
}

.moto p
{
    margin-right: 35px;
    font-size: 25px;
    text-align: end ;
}

/* About Us */
.aboutcont
{
    width: 97vw;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width:800px)
{
.aboutcont
{
    width: 97vw;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
}
}
.about
{
    padding: 1vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.aboutphotos
{
    align-self: center;
}
.aboutphotos img
{
    border-radius: 15px;
    width: 15vw;
    transition: transform 1s ease;
    transform: scale(1);
}
.aboutphotos img:hover
{
    transition: transform 1s ease;
    transform: scale(1.045);
}

/* SERVICES */
.servicecont
{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.servicephotos
{
    align-self: center;
}
.servicephotos img
{
    width: 15vw;
    border-radius: 15px;
    transition: transform 1s ease;
    transform: scale(1);
}
.servicephotos img:hover
{
    transition: transform 1s ease;
    transform: scale(1.045);
}
.service
{
    padding: 0vw 1vw 0 1vw;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:800px)
{
    .servicecont
    {
        display: flex;
        flex-direction: column;
    }
}
/* PHOTOS */

.photos div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.photos h1
{
    display: flex;
    justify-content: center;
}
.img img
{
    margin: 5px;
    height: 19vw;
    width: 29vw;
    border-radius: 20px;
    transition: transform 0.8s ease;
    transform: scale(1);
}
.img img:hover
{
    height: 19vw;
    width: 29vw;
    border-radius: 20px;
    transition: transform 1s ease;
    transform: scale(1.05);
}

/* FORM */

.formcont
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form
{
    border: 2px solid green;
    border-radius: 15px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.input
{
    width: 30vw;
    color: black;
}
.button
{
    margin: 10px;
    background-color: #00FF00;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.5s ease;
    transform: scale(1);
}
.button:hover
{
    transition: transform 1s ease;
    transform: scale(1.1);
}

/* FOOTER */

footer
{
    background-color: rgb(81, 81, 81);
    color: white;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
